<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/admin/pages/css/about-us.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row margin-bottom-30">
				<div class="col-md-6">
					<p>
						 OMall es un plataforma donde puedes interactuar con demas personas y compartir con ellos. Una plataforma donde podras buscar y adquirir el producto que siempre habias querido. No solo eso, ademas de todas las funcionalidades que puedes encontrar en una red social, OMall busca ayudarte un poco mas, dandote un dashboard donde puedes apoyarte en tus ventas, tareas y calendario para ordenar tus ideas. Mas facil no puede ser.
					</p>
					<ul class="list-unstyled margin-top-10 margin-bottom-10">
						<li>
							<i class="fa fa-check icon-default"></i> Red Social
						</li>
						<li>
							<i class="fa fa-check icon-success"></i> Plataforma de Ventas
						</li>
						<li>
							<i class="fa fa-check icon-info"></i> Dashboard de Finanzas
						</li>
						<li>
							<i class="fa fa-check icon-danger"></i> Manejador de Tareas
						</li>
						<li>
							<i class="fa fa-check icon-warning"></i> Calendario
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<iframe src="http://player.vimeo.com/video/22439234" style="width:100%; height:327px;border:0" allowfullscreen>
					</iframe>
				</div>
			</div>
			<!--/row-->
			<!-- Meer Our Team -->
			<div class="headline">
				<h3>Conoce nuestro equipo</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-3">
					<div class="meet-our-team">
						<h3>Jimmy Morales <small>Desarrollador</small></h3>
						<img src="/admin/pages/media/pages/2.jpg" alt="" class="img-responsive"/>
						<div class="team-info">
							<ul class="social-icons pull-right">
								<li>
									<a href="https://twitter.com/JMoralejas" data-original-title="twitter" class="twitter" target="_blank">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/jimmy.morales.397?fref=ts" data-original-title="facebook" class="facebook" target="_blank">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="meet-our-team">
						<h3>Cristhian Morales <small>Desarrollador</small></h3>
						<img src="/admin/pages/media/pages/3.jpg" alt="" class="img-responsive"/>
						<div class="team-info">
							<ul class="social-icons pull-right">
								<li>
									<a href="https://twitter.com/CristhianxDD" data-original-title="twitter" class="twitter" target="_blank">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/cristhian.morales.75" data-original-title="facebook" class="facebook" target="_blank">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus">
									</a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
			<!-- //End Meer Our Team -->
			<!-- END PAGE CONTENT-->
			<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/global/plugins/respond.min.js"></script>
<script src="/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
});
</script>
<!-- END JAVASCRIPTS -->