<%- layout("layout_lock.ejs") %>
<div class="page-lock">
	<div class="page-logo">
		<a class="brand" href="index.html">
		<h1 style="margin:0px;margin-top: 7px;padding:0px;color:white;display:inline-block;font-family: 'Berlin Sans FB';">OM</h1><h1 style="margin:0px;padding:0px;color:rgb(255,63,63);display:inline-block;font-family: 'Berlin Sans FB';">all</h1>
		</a>
	</div>
	<div class="page-body">
		<img class="page-lock-img" src="/admin/pages/media/profile/profile.jpg" alt="">
		<div class="page-lock-info">
			<h1>Jimmy Morales</h1>
			<span class="email">
			jimmy@morales.com </span>
			<span class="locked">
			Bloqueado </span>
			<form class="form-inline" action="index.html">
				<div class="input-group input-medium">
					<input type="text" class="form-control" placeholder="Contraseña">
					<span class="input-group-btn">
					<button type="submit" class="btn blue icn-only"><i class="m-icon-swapright m-icon-white"></i></button>
					</span>
				</div>
				<!-- /input-group -->
				<div class="relogin">
					<a href="login.html">
					No eres Jimmy Morales ? </a>
				</div>
			</form>
		</div>
	</div>
	<div class="page-footer-custom">
		 2014 &copy; OMall.
	</div>
</div>