<!-- Page level plugin styles START -->
<link href="/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<link href="/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
<link href="/global/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css">

  <link href="/admin/layout/css/style.css" rel="stylesheet">
  <link href="/admin/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="/admin/layout/css/style-responsive.css" rel="stylesheet"> 
<!-- Page level plugin styles END -->  
  <div class="main">
      <div class="container" style="width:100%">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">

          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Mi Lista de Deseos</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">Imagen</th>
                    <th class="goods-page-description">Descripcion</th>
                    <th class="goods-page-stock">Existencia</th>
                    <th class="goods-page-price" colspan="2">Precio Unidad</th>
                  </tr>
                  <tr>
                    <td class="goods-page-image">
                      <a href="#"><img src="/admin/pages/img/products/model3.jpg" alt="Berry Lace Dress"></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="#">Eclipse Book</a></h3>
                      <em>Mas Informacion Aqui</em>
                    </td>
                    <td class="goods-page-stock">
                      En Existencia
                    </td>
                    <td class="goods-page-price">
                      <strong><span>Q</span>47.00</strong>
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="#">&nbsp;</a>
                      <a class="add-goods" href="#">&nbsp;</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="goods-page-image">
                      <a href="#"><img src="/admin/pages/img/products/model4.jpg" alt="Berry Lace Dress"></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="#">Twilight</a></h3>
                      <em>Mas Informacion Aqui</em>
                    </td>
                    <td class="goods-page-stock">
                      En Existencia
                    </td>
                    <td class="goods-page-price">
                      <strong><span>Q</span>47.00</strong>
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="#">&nbsp;</a>
                      <a class="add-goods" href="#">&nbsp;</a>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>      
    <script src="/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='/global/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->
    <script src="/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/global/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script><!-- for slider-range -->

    <script src="/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/admin/layout/scripts/layout2.js" type="text/javascript"></script>
    <script src="/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout2.init();    
            Layout2.initOWL();
            Layout2.initTwitter();
            Layout2.initImageZoom();
            Layout2.initTouchspin();
            Layout2.initUniform();
            Layout2.initSliderRange();
            Metronic.init(); // init metronic core components
             Layout.init(); // init current layout
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
   